node_modules
npm-debug.log
dist
.git
.gitignore
.env.local
.env.example
.vscode
.husky
coverage
tests
src/tests
src/**/*.test.ts
src/**/*.spec.ts
src/**/*.int.spec.ts
.nvmrc
README.md
LICENSE
.lintstagedrc.json
.prettierrc
.prettierignore
eslint.config.js
vitest.config.ts
