apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-ts
  labels:
    app: express-ts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: express-ts
  template:
    metadata:
      labels:
        app: express-ts
    spec:
      containers:
        - name: app
          image: express-ts:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          resources:
            requests:
              memory: '64Mi'
              cpu: '50m'
            limits:
              memory: '256Mi'
              cpu: '500m'
